.blog-post {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    min-height: 100vh;
    background-color: #eee;
    padding-bottom: 150px;
    padding-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.container1,
.container2,
.container3 {
    background: white;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 1em;
    margin: 0 0 25px 0;
}

.grid-container2,
.grid-container {
    display: flex;
    flex-direction: column;
}

.img {
    margin-top: 23px;
    width: 100%;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.img-caption {
    font-size: 12px;
    text-align: center;
    padding: 0 0 2em 0;
}

a {
    text-decoration: none;
    color: white;
}

.blog-post_info {
    text-align: center;
}

.blog-post_info2 {
    text-align: center;
}

.blog-post_info2 {
    margin-top: 5px;
}

.travel-heading {
    font-size: 24px;
    text-align: center;
    font-family: source-code-pro, monospace;
}

.blog-title {
    font-size: 22px;
    text-align: center;
    margin-top: 2em;
}

.blog-description {
   padding: 1em;
}

.read-btn {
    width: 160px;
    height: 48px;
    color: white;
    border-radius: 13px;
    background-image: linear-gradient(to right, #fc00ff, #00dbde);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 16px;   
    margin: 3rem 0 3rem 0;
}

.read-btn:hover {
    background-position: right center;
}


@media only screen and (min-width: 600px) {
    .travel-heading {
        font-size: 2rem;
        padding: 0 0 2em 0;
    }

    .container1,
    .container2,
    .container3 {
        width: 100%;
        max-width: 540px;
        padding: 5rem;
        border-radius: 8px;     
        margin: 3em;
    }

    .blog-post_img {
        margin-top: -145px;
    }

    .blog-post_img2 {
        margin-top: -145px;
    }
}

@media only screen and (min-width: 768px) {
    .travel-heading {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .travel-heading {
        font-size: 2.8rem;
    }

    .container1,
    .container3 {
        width: 100%;
        max-width: 940px;
        height: 550px;
        margin: 25px;
    }

    .container2 {
        width: 100%;
        max-width: 940px;
        height: 550px;
        margin: 25px;
    }

    .grid-container {
        flex-direction: row;
    }

    .grid-container2 {
        flex-direction: row-reverse;
    }

    .blog-post_img {
        margin-left: -135px;
        margin-top: -45px;
    }

    .blog-post_img2 {
        margin-right: -135px;
        margin-top: -45px;
    }

    .blog-post_info {
        margin-left: 3em;
    }
    .blog-post_info2 {
        margin-right: 3em;
    }

}

@media only screen and (min-width: 1200px) {

}

