.iconify {
    font-size: 35px;
    color: #444444;
}
    
.iconify:hover {
    color: #f862db;
    cursor: pointer;
}

.footer {
    display: grid;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
    
}

.contact {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}

.contactBtn {
    display: grid;
    width: 160px;
    height: 45px;
    margin-bottom: 125px;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right, #fc00ff, #00dbde);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
   
}

.contactBtn:hover {
        background-position: right center;
}

.message-text {
    color: white;
    /* font-size: calc(10px + 2vmin); */
    font-size: 16px;
    text-decoration: none;
}

.social-icon {
    display: flex;

}